

<div style="position: absolute; top: 0; right: 0; height: 100%; width: 6px; background-color: aqua;"></div>

<div class="top-row ps-3 navbar navbar-dark" style="display:flex;justify-content:center; height:130px;">
    <div class="container-fluid col-auto justify-content-center">
        <img class="rotating-img justify-content-center" src="/TS-Logo.png" style="background-size:cover; width:120px; height:100px; margin-right:8px;" alt="..." />
        <br />
@*        <a class="navbar-brand" style="color:#0974f1" href="">Tecnology Store App</a>
*@        
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="position: absolute; top: 0; right: 0; height: 100%; width: 6px; background-color: aqua;"></div>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item" style="margin-top:15px;" >
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Productos" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Productos
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="OfertasRapidas" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Ofertas Rapidas
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="ComprasFacturadas" Match="NavLinkMatch.All">
                <span class="oi oi-phone" aria-hidden="true"></span> Compras Facturadas
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Contacto" Match="NavLinkMatch.All">
                <span class="oi oi-phone" aria-hidden="true"></span> Contactos
            </NavLink>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
