@page "/Accesoriostecnologicos"

<div>
    <a href="/Productos" class="btn btn-primary"> <i class="oi oi-arrow-thick-left"></i> Atras</a>
</div>


<h1 style="color: #0974f1;text-align:center; font-family:sans-serif;">
    A c c e s o r i o s <br> d e <br> A l t a   T e c n o l o g í a
</h1>
<br>

<style>
   .card {
        width: 100%; /* Ancho deseado del contenedor */
        height: 100%; /* Altura deseada del contenedor */
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>


    <div class="container">
        @*Linea 1*@
        <div class="row" style="margin-bottom:10px">
            <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://th.bing.com/th/id/R.e9cdb49e6dee22a2c21226858c2e07ce?rik=WSC3Jo2QfER3sA&riu=http%3a%2f%2fwww.maccenter.vn%2fApp_Images%2fAppleWatch-Ultra-Midnight-OceanBand.jpg&ehk=%2bSMlIKPQWUJWL21skZJkb0C69cIeCodfI0r6EzrSs%2bs%3d&risl=&pid=ImgRaw&r=0" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Apple Watch 9</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 5,500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://www.yema.cm/1614-large_default/airpods-pro.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">AirPods Pro</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 3,500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://pcredcom.com/images/product/import/9/7/9/3/3/97933_1.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Memoria ADATA 64GB</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 700</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        </div>
    @*Linea 2*@
    <div class="row" style="margin-bottom:10px">
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://theawesomer.com/photos/2020/10/oculus_quest_2_1.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">VR Oculus Quest 2</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 10,700</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://www.portalcoletek.com.br/Imagens/HP_9YF23AA_02.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Cable Tipo C </h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 300</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://i5.walmartimages.com/asr/dddc52ec-3480-4426-b316-cc5c79263913.89e73328884e2b2b244d117966b13a3b.jpeg?odnWidth=1000&odnHeight=1000&odnBg=ffffff" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Cable de Iphone</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
    </div>

@code {

}
