@page "/Contacto"


<h1 style="color:rgb(102, 52, 216);text-align:center;">
    Contactanos
</h1>

<TecnologyStoreApp.Componentes.Promocion.Promo Promocion="Contactanos"></TecnologyStoreApp.Componentes.Promocion.Promo>

<section style="text-align: center; font-weight: bold; color: black; font-size: 20px;">
    ¡Bienvenido a nuestra sección de contacto!
    <br>
    <br>
    Estamos encantados de escucharte. Si tienes preguntas, comentarios o simplemente deseas ponerte en contacto con nosotros, ¡no dudes en llamarnos o escribirnos a nuestras redes sociales!
    <br>
    <br>
    Teléfono: 809-737-767
    <br>
    <br>
    Correo electronico: TecnologyStore@gmail.com
    <br>
    <br>
    Instagram: TecnologyStoreA
    <br>
    <br>
    Estamos aquí para ayudarte.
</section>

@code {

}
