@page "/Dispositivoshogar"
<PageTitle>Dispositivos del hogar</PageTitle>

<div>
    <a href="/Productos" class="btn btn-primary"> <i class="oi oi-arrow-thick-left"></i> Atras</a>
</div>


<h1 style="color: #0974f1;text-align:center; font-family:sans-serif;">
    D i s p o s i t i v o s  <br> p a r a  <br> t ú    h o g a r
</h1>
<br>

<style>
   .card {
        width: 100%; /* Ancho deseado del contenedor */
        height: 100%; /* Altura deseada del contenedor */
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>


    <div class="container">
        @*Linea 1*@
        <div class="row" style="margin-bottom:10px">
            <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61CCuXp7U7L._AC_SX679_.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Bombilla LED WiFi</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 1,500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://www.sanborns.com.mx/imagenes-sanborns-ii/1200/810019527845_2.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Echo Dot Alexa Blanca</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 3,500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://www.discomp.cz/hikvision-ip-dome-camera-ds-2cd2142fwd-iws-2-8-4mp-2688-1520-20fps-ip66-30m-ir-ircut-wifi-obj-2-8mm-sd-poe_ie428917.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Hikvision Dome Camera</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 4,000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        </div>
    @*Linea 2*@
    <div class="row" style="margin-bottom:10px">
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://cdn2.cellphones.com.vn/x/media/catalog/product/4/_/4_168_1_1.png" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Samsung Smart TV</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 20,700</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://shanewhatley.com/wp-content/uploads/2020/05/homekitlamp.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Xiaomi Bedside Lamp </h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 3,300</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://m.media-amazon.com/images/I/71lY3A+fd9L._AC_SX425_.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Striscia LED</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 2,600</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
    </div>

@code {

}
