@page "/"

<PageTitle>Inicio</PageTitle>

<Head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/processes/process-1/assets/css/process-1.css">
</Head>

<h1 style="color: #0974f1;text-align:center; font-family:sans-serif;">
    T e c n o l o g y  <br> S t o r e
</h1>
<h3 style="color: #0974f1;text-align:center; font-family:sans-serif;">
	!Todo lo que necesitas al alcanse de tus manos¡
</h3>
<br>

<div style="display: flex; justify-content: center;">
	<img src="/img-banner-1.png" alt="" style="width: 65%; height: 450px; border-radius: 4px;">
</div>
<br>

<h2 style="font-size: 25px;font-weight: bold; color: #0974f1;margin-top: 10px; text-align:center; ">¡Bienvenidos a Tecnology Store, tu destino virtual para lo último en tecnología! <br>  Estamos emocionados de tenerte con nosotros.</h2>
<br>


<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row gy-5 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <img class="img-fluid rounded" loading="lazy" src="https://cloudfront-us-east-1.images.arcpublishing.com/artear/6ZIVLM3Y6TPSKF62TESHJ2QKOQ.jpg" alt="¿Por qué Tecnology Store?">
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <h2 class="h1 mb-3">¿Por qué Tecnology Store?</h2>
                        <br>
                        <div class="d-flex mb-4">
                            <div>
                                <span class="btn btn-primary bsb-btn-circle pe-none me-4">1</span>
                            </div>
                            <div>
                                <h4 class="mb-3">Exclusividad en Productos</h4>
                                <p class="mb-0 text-secondary" style="font-size: 20px; color: black;font-weight: bold;">Explora una amplia gama de productos tecnológicos, desde dispositivos inteligentes hasta accesorios de última generación.</p>
                            </div>
                        </div>
                        <div class="d-flex mb-4">
                            <div>
                                <span class="btn btn-primary bsb-btn-circle pe-none me-4">2</span>
                            </div>
                            <div>
                                <h4 class="mb-3">Calidad Garantizada</h4>
                                <p class="mb-0 text-secondary" style="font-size: 20px; color: black;font-weight: bold;">Trabajamos con marcas líderes para garantizar que recibas productos de la más alta calidad y rendimiento.</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div>
                                <span class="btn btn-primary bsb-btn-circle pe-none me-4">3</span>
                            </div>
                            <div>
                                <h4 class="mb-3">Experiencia de Compra Sin Esfuerzo</h4>
                                <p class="mb-0 text-secondary" style="font-size: 20px; color: black;font-weight: bold;">Nuestra interfaz intuitiva hace que sea fácil navegar, comprar y recibir tus productos en tiempo récord.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
