@page "/"

<PageTitle>Inicio</PageTitle>

<h1 style="color: #0974f1;text-align:center; font-family:sans-serif;">
	T e c n o l o g y   S t o r e
</h1>
<h3 style="color: #0974f1;text-align:center; font-family:sans-serif;">
	!Todo lo que necesitas al alcanse de tus manos¡
</h3>
<br>

<div style="display: flex; justify-content: center;">
	<img src="https://cloudfront-us-east-1.images.arcpublishing.com/artear/6ZIVLM3Y6TPSKF62TESHJ2QKOQ.jpg" alt="" style="width: 80%; height: 450px; border-radius: 4px;">
</div>
<br>

<h2 style="font-size: 20px;font-weight: bold; color: #0974f1;margin-top: 10px; text-align:center; ">¡Bienvenidos a Tecnology Store, tu destino virtual para lo último en tecnología! <br>  Estamos emocionados de tenerte con nosotros.</h2>
<br>


<h2 style="font-size: 20px; color: rgb(102, 52, 216); font-weight: bold;margin-top: 10px;">¿Por qué Tecnology Store?</h2>
<br>

<p style="font-size: 20px; color: black;text-align: justify;font-weight: bold; margin-top: 10px;">
	Selección Exclusiva: Explora una amplia gama de productos tecnológicos, desde dispositivos inteligentes hasta accesorios de última generación.
	<br>
	<br>
	Calidad Garantizada: Trabajamos con marcas líderes para garantizar que recibas productos de la más alta calidad y rendimiento.
	<br>
	<br>
	Experiencia de Compra Sin Esfuerzo: Nuestra interfaz intuitiva hace que sea fácil navegar, comprar y recibir tus productos en tiempo récord.
</p>
