@page "/OfertasRapidas"

<h1 style="color: #0974f1;text-align:center; font-family:sans-serif;">
	O f e r t a s  R a p i d a s
</h1>
<br>

<div style="display: flex; justify-content: center;">
	<TecnologyStoreApp.Componentes.Promocion.CarouselComponente></TecnologyStoreApp.Componentes.Promocion.CarouselComponente>
</div>

@code {

}
