@page "/Productos"

<h1 style="color:rgb(102, 52, 216);text-align:center;">
	Productos
</h1>
<br>

<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 10px;">
	<TecnologyStoreApp.Componentes.Productos.Productos></TecnologyStoreApp.Componentes.Productos.Productos>
</div>

@code {

}
