@page "/Smartphones"

<PageTitle>Smartphones</PageTitle>


<div>
    <a href="/Productos" class="btn btn-primary"> <i class="oi oi-arrow-thick-left"></i> Atras</a>
</div>

<h1 style="color: #0974f1;text-align:center; font-family:sans-serif;">
	S m a r t p h o n e s
</h1>
<br>

<style>
   .card {
        width: 100%; /* Ancho deseado del contenedor */
        height: 100%; /* Altura deseada del contenedor */
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>


    <div class="container">
        @*Linea 1*@
        <div class="row" style="margin-bottom:10px">
            <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://mobile-city.pl/pol_pl_Apple-iPhone-14-6-128GB-5G-Ksiezycowa-Poswiata-Starlight-35329_1.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">iPhone 14 Plus 256GB</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 13,500</p>
                    <a href="/facturacion" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://techpuls360.com/wp-content/uploads/2023/03/6411903c327e4-1-scaled.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Samsung Galaxy A54</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 10,500</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://hiraoka.com.pe/media/wysiwyg/xiaomi_redmi.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Redmi Note 12 Pro+</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 12,000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        </div>
    @*Linea 2*@
    <div class="row" style="margin-bottom:10px">
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://www.iphone-droid.net/spec/wp-content/uploads/2023/02/Samsung-Galaxy-S23-Plus-Lavender-1024x1024.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Samsung Galaxy S23</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 11,700</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://www.bdprice.com.bd/wp-content/uploads/2020/12/Infinix-Smart-HD-500x500.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">Infinix Smart HD</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 10,300</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid" style="border-radius:6px;border-color: rgb(83,202,236);">
                <img src="https://d1sfzvg6s5tf2e.cloudfront.net/Custom/Content/Products/58/96/5896_cel-xiaomi-poco-x5-pro-5g-128gb-azul_z1_638188144064475200.jpg" style="background-size:cover; object-fit:cover; height:100%;" class="card-img-top" alt="...">
                <div class="card-body" style="background: linear-gradient(90deg, rgba(83,202,236,1) 0%, rgba(120,195,237,1) 4%, rgba(0,212,255,1) 100%); width:100%;">
                    <h5 class="card-title" style="font-weight:bold; font-size:20px; color:white">XIAOMI POCO X5 PRO</h5>
                    <p class="card-text" style="font-weight:bold; font-size:20px"> RD$ 12,000</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
    </div>

@code {
}