@*<h3>Productos</h3>*@

<div class="card" style="width: 18rem; color:rgb(102, 52, 216);">
    <img src="https://blog.phonehouse.es/wp-content/uploads/2018/03/Moviles-300-euros.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Smartphones</h5>
        <p class="card-text" style="color: black;">Descubre los últimos modelos de smartphones que te mantendrán conectado y a la vanguardia de la tecnología móvil.</p>
        <a href="/Smartphones" class="btn btn-primary">Más Información</a>
    </div>
</div>

<div class="card" style="width: 18rem;color:rgb(102, 52, 216);">
    <img src="https://s3.abcstatics.com/media/tecnologia/2018/12/14/montaje-iot-kHnF--940x705@abc.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dispositivos Inteligentes para tú Hogar</h5>
        <p class="card-text" style="color: black;">Transforma tu hogar en un espacio inteligente con nuestra selección de dispositivos conectados para hacer tu vida más fácil.</p>
        <a href="#" class="btn btn-primary">Más Información</a>
    </div>
</div>

<div class="card" style="width: 18rem;color:rgb(102, 52, 216);">
    <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/11/50-regalos-tecnologicos-menos-50-euros.jpg?tf=3840x" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Accesorios de Alta Tecnología</h5>
        <p class="card-text" style="color: black;">Complementa tus dispositivos con accesorios que potenciarán tu experiencia, desde auriculares inalámbricos hasta cargadores de carga rápida.</p>
        <a href="#" class="btn btn-primary">Más Información</a>
    </div>
</div>


@code {

}
