
<div style="display: flex; flex-direction:row; justify-content:center; align-items: center;">
    <!-- Botón para retroceder -->
    <button @onclick="PreviousImage" class="btn btn-outline-primary">Anterior</button>

    <!-- Imagen actual -->
    <div style=" background-color: cornflowerblue; margin:0px 10px; border-radius: 5px"> 
        <img src="@imageUrls[currentIndex]" alt="Imagen actual" style="max-width: 100%; max-height: 300px; border-radius: 5px; " />
    </div>
    <!-- Botón para avanzar -->
    <button @onclick="NextImage" class="btn btn-outline-primary">Siguiente</button>
</div>



@code {
    // Lista de enlaces de imágenes
    List<string> imageUrls = new List<string>
    {
        "https://mvsnoticias.com/u/fotografias/m/2023/11/2/f1280x720-574284_705959_5050.png",
        "https://mejoresistemas.com/wp-content/uploads/2022/02/tiendas-virtuales.png",
        "https://1.bp.blogspot.com/-WFaZh0dJhBA/X1kEoIpFsII/AAAAAAAAAAM/wyJ2skeQMxsgiVfZdpmIFtbpv-6Y_RtAQCLcBGAsYHQ/s0/Tiendas-Online-Peru-comprar-por-internet-paginas-confiables.webp",
        // Agrega más enlaces según sea necesario
    };

    // Índice de la imagen actual
    int currentIndex = 0;

    // Función para avanzar al siguiente índice
    void NextImage()
    {
        currentIndex++;
        if (currentIndex >= imageUrls.Count)
        {
            currentIndex = 0;
        }
    }

    // Función para retroceder al índice anterior
    void PreviousImage()
    {
        currentIndex--;
        if (currentIndex < 0)
        {
            currentIndex = imageUrls.Count - 1;
        }
    }
}
