@*<h3>Promo</h3>*@

<div style="display: flex; justify-content: center;">
    <img src="https://img.freepik.com/vector-gratis/atencion-al-cliente-hombre-plano-organico_23-2148893295.jpg" alt="" style="width: 300px; height: 300px;">
</div>

@code {
    [Parameter]
    public string Promocion { get; set; }

}
